
.home-content{
  width:100%;
  height:100%;
  display:block;
  top:0;
  //@include transition(all 0.5s ease-out 0s);
  @include box-shadow($div-shadow);
  background-color:white;
  position: absolute;
  z-index:2;

  .header{
    position: absolute;
    top: 0px;
    right: 20px;
    z-index: 1;
    li{
      display:inline-block;
      padding-right: 20px;
      a{
        height:30px;
        width:auto;
        //margin-left:20px;
        display:inline-block;
        &:hover{
          cursor:pointer;
          color:$gray-dark;
        }

      }
    }
  }

  .content{

    width:100%;
    height:100%;
    display:block;
    position:relative;
    overflow:hidden;
    .main-logo{
      display: block;
      position: relative;
      top:15px;
      #logo{
        max-width: 520px;
        height: auto;
        width:100px;
        display:block;
        position:relative;
        left:20px;
      }
      h6{
        display: block;
        width: 100%;
        margin: 0 auto;
        line-height: 1em;
        position: absolute;
        text-align: center;
        bottom:0;
        font-weight:200;
        font-style: italic;
      }
    }
  }
}

#slider-container .scroller .mosaic-container li.column{
  width:$cell-total-med-width;
  .cell-i{
    display:none;
  }
}